@import "./vars.scss";

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.contenedor_home {
  height: 100vh;
  position: relative;
  top: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .contenedor_imgTop_home {
    position: absolute;
    top: 0px;
    width: 100vw;
  }

  .contenedor_TextoBotones_home{
    z-index: 999;
    h5{
        text-align: center;
        color: $azul;
        font-family: "OakesGroteskBold";
        font-size: 2rem;
        margin: 0px;
        padding: 0px;
    }
    h2{
        text-align: center;
        color: $azul;
        font-family: "OakesGroteskBold";
        font-size: 1rem;
        margin: 0px;
        padding: 0px;
    }
      .contenedor_tarjeta{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 20px;
        margin-top: 20px;
        .tarjeta_marca{
            width: 30vw;
            height: auto;
            img{
              width: 100%;
              height: auto;
            }
            p{
              font-family: $heavy;
              color: #7B6953;
              font-size: 3.5vw;
              text-align: center;
            }
        }
      }
  }

  .contenedor_imgbotton_home {
    position: absolute;
    bottom: -15px;
    width: 100vw;
    right: -55px;
  }
}
