@import "./vars.scss";

.contenedor_confirmatupedido {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  flex-direction: column;
  overflow: hidden;
  .title {
    font-family: $bold;
    font-size: 6vw;
    text-align: center;
  }
  .contenedor_pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding-inline: 9vw;
    
    p,
    h5 {
      font-family: $heavy;
      margin: 0px;
      font-weight: normal;
    }
    h5 {
      font-size: 4vw;
      margin-bottom: 7px;
    }
    p {
      font-size: 3.5vw;
    }
    .contenedor_producto,
    .contenedor_sabor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30vw;
      text-align: center;
      
    }
    .contenedor_mas {
      p {
        font-size: 7vw;
      }
    }
    img {
      width: 28vw;
    }
    .contenedor_topping {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
      .wrapper_toppings {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .contenedor_endulsante {
    border: 1px solid blue;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 26px;
    margin-top: 30px;
    padding: 10px 22px;
    p {
      font-family: $heavy;
      margin: 0px;
      font-size: 2.5vw;
    }
  }
  .boton_confirmar {
    margin-top: 40px;
    padding: 7px 20px;
    border-radius: 100px;
    font-family: $heavy;
    font-size: 3vw;
    font-weight: bolder;
  }
}
