@import "./vars.scss";
.contenedor_Escojetusabor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  flex-direction: column;
  .contenedor_logo_almendra {
    position: absolute;
    top: 16vh;
    width: 100vw;
    display: flex;
    top: 16vh;
    .logo {
      width: 45vw;
      position: absolute;
      right: 50%;
      transform: translate(50%);
    }
    .etiqueta {
      width: 20vw;
      position: absolute;
      right: 0px;
      top: -24px;
    }
  }
  .contenedor_texto {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    .numero_titulo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      p {
        font-family: $bold;
        font-size: 5vw;
        margin: 0px;
      }
      svg {
        width: 7vw;
      }
    }
    .numero_subtitulo {
      p {
        font-family: $heavy;
        margin: 0px;
        font-size: 3vw;
      }
    }
  }
  .contenedor_productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .select {
      img {
        box-shadow: -9px 31px 35px -4px rgba(0, 0, 0, 0.45);
        border-radius: 121px;
        transition: 300ms;
      }
    }
    .producto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 28vw;
      text-align: center;

      img {
        width: 25vw;
        transition: 300ms;
      }
      p {
        margin: 0px;
        font-family: $heavy;
        font-size: 3vw;
        height: 20px;
      }
    }
  }
}
