.contenedor_EscojeTuProducto {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  .contenedor_imgTop_home {
    .logo_tonniEscojeProducto {
      width: 32vw;
      position: absolute;
      top: 10px;
      right: 50%;
      transform: translate(50%);
    }
    .welcome {
      position: absolute;
      width: 70vw;
      bottom: 61px;
      right: 50%;
      transform: translate(50%);
    }
  }
  .letra_eligeproducto {
    width: 70vw;
    margin: 30px auto;
  }
  .contenedor_productos {
    width: 77vw;
    margin: 0px auto;
    display: flex;
  }
}
