@import "./vars.scss";

.contenedor_EscojeTuProducto {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: ease-in 300ms;
  .contenedor_imgTop_home {
    .logo_tonniEscojeProducto {
      width: 32vw;
      position: absolute;
      top: 10px;
      right: 50%;
      transform: translate(50%);
    }
    .welcome {
      position: absolute;
      width: 70vw;
      bottom: 61px;
      right: 50%;
      transform: translate(50%);
    }
  }
  .letra_eligeproducto {
    margin: 30px auto;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    p{
      font-family: $bold;
      font-size: 6vw;
    }
    svg{
      width: 7vw;
    }
  }
  .contenedor_productos {
    width: 77vw;
    margin: 0px auto;
    display: flex;

    .contenedor_preparado {
      img {
        width: 40vw;
      }
      p {
        text-align: center;
        font-family: $heavy;
        color: $azul;
        font-size: 3.5vw;
        margin: 0px;
        line-height: 0.8;
      }
    }
  }
}
