@import "./vars.scss";

.contrenedor_formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  .contenedor_cabezera {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: absolute;
    top: 0px;
    width: 100vw;
    right: 50%;
    transform: translate(50%);
    
    .contenedor_botonHome {
      justify-content: center;
    }
    .contenedor_logos {
      justify-content: center;
      svg {
        width: 20vw;
      }
    }
    .decoracion_cabezera {
      position: absolute;
      top: 0px;
      width: 61vw;
      z-index: -1;
      left: -4px;
    }
  }
  .contenido_formulario {
    text-align: center;
    h5 {
      font-family: $bold;
      color: $azul;
      font-size: 6vw;
      margin: 0px;
    }
    h6 {
      font-family: $heavy;
      color: $azul;
      font-size: 2.5vw;
      margin: 0px;
      margin-bottom: 40px;
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        font-family: $heavy;
        color: $azul;
        margin-bottom: 5px;
      }
      input[type="text"],input[type="email"] {
        border-radius: 100px;
        border: 1px solid #80633c;
        margin-bottom: 20px;
        padding: 8px 14px;
        font-family: $heavy;
      }
      input[type="submit"]{
        min-width: 27vw;
        margin: 0px auto;
        background-color: $azul;
        color: white;
        border-radius: 100px;
        padding: 10px 20px;
        font-family: $heavy;
        border: none;
      }
      input:focus{
        outline: none;
        border: 1px solid $azul;
      }
      
    }
  }
  .decoracion_foot {
    position: absolute;
    bottom: -8px;
    width: 100vw;
  }
}
